.vscode
__pycache__
.ipynb_checkpoints
capture24
capture24.zip
processed_data
8_stepcount/OxWalk_Dec2022.zip
8_stepcount/OxWalk_Dec2022
8_stepcount/*.pkl
8_stepcount/*.npy
.DS_Store
.gitattributes
7_self_supervised_learning/.DS_Store
7_self_supervised_learning/contrastive_learning.ipynb