#jupyter  # no needed if using prepared Jupyter Lab
numpy
scipy
pandas
matplotlib
seaborn
statsmodels
scikit-learn==1.5.2
joblib
imbalanced-learn==0.12.4
tqdm
torch
torchaudio
torchvision
actipy>=3
#stepcount  # too strict versions
nvidia-ml-py  # for get_gpu.py to auto grab A100 MIGs
